---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logoImage from "../assets/logo.png";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import ContactSection from "../components/ContactSection.jsx";

// Enhanced meta information for SEO
const title = "Contactez-nous | Académie Stéphanoise - Votre Centre d'Arts Martiaux à Saint-Étienne";
const description =
  "Rejoignez l'Académie Stéphanoise, un lieu de vie dédié aux arts martiaux et sports de combat à Saint-Étienne. Contactez-nous pour découvrir nos cours de MMA, Boxe pied poing, Kickboxing, Luta livre, Tolpar, Krav Maga, et Cross Training. Réservez votre cours d'essai gratuit et explorez nos horaires et tarifs adaptés à tous les niveaux.";
const jsonLd = {
  "@context": "https://schema.org",
  "@type": "SportsActivityLocation",
  "name": "Académie Stéphanoise",
  "description": "Académie Stéphanoise à Saint-Étienne, un lieu de vie où le sport rassemble. Contactez-nous pour en savoir plus sur nos cours de MMA, Boxe, Krav Maga, et Cross Training.",
  "url": "https://www.academiestephanoise.fr/contact",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "27 B, rue de Terrenoire",
    "addressLocality": "Saint-Étienne",
    "postalCode": "42100",
    "addressCountry": "FR"
  },
  "telephone": "07 68 70 25 56",
  "sameAs": [
    "https://www.facebook.com/academiestephanoise",
    "https://www.instagram.com/academiestephanoise"
  ],
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "45.431092",
    "longitude": "4.410020"
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Monday",
      "opens": "18:00",
      "closes": "20:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Tuesday",
      "opens": "18:30",
      "closes": "19:30"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Wednesday",
      "opens": "14:30",
      "closes": "19:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Thursday",
      "opens": "17:00",
      "closes": "19:30"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Friday",
      "opens": "17:00",
      "closes": "19:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Saturday",
        "Sunday"
      ],
      "opens": "Closed",
      "closes": "Closed"
    }
  ]
};

---

<Layout title={title} description={description} jsonld={jsonLd}>
  <main>
    <Navbar client:load>
      <Image
        src={logoImage}
        alt="Logo Académie Stéphanoise - École d'Arts Martiaux à Saint-Étienne"
        width={100}
        height={100}
      />
    </Navbar>
    <div class="bg-neutral-50">
      <div>
        <div>
          <ContactSection client:load />
        </div>
      </div>
    </div>
    <Footer client:visible paddingTop="pt-12" paddingTopXl="xl:pt-24">
      <Image
        src={logoImage}
        alt="Logo de l'Académie Stéphanoise"
        width={100}
        height={100}
      />
    </Footer>
  </main>
</Layout>
