---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logoImage from "../assets/logo.png";
import Calendar from "../components/Calendar.jsx";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import CallToActionSection from "../components/CallToActionSection.jsx";
const title = "Planning - Académie Stéphanoise";
const description =
  "Consultez le planning des activités de l'Académie Stéphanoise.";
const keywords =
  "planning, calendrier, Académie Stéphanoise, activités, horaires";
---

<Layout title={title} description={description} keywords={keywords}>
  <Navbar client:load>
    <Image
      src={logoImage}
      alt="Logo de l'Académie Stéphanoise"
      width={100}
      height={100}
    />
  </Navbar>
  <div class="bg-neutral-50 pt-4">
    <div class="max-w-[150rem] mx-auto lg:pt-16 lg:px-8">
      <Calendar client:only="react" />
    </div>
    <div class="translate-y-1/2 transform">
      <CallToActionSection client:visible />
    </div>
  </div>
  <Footer client:visible paddingTop="pt-72" paddingTopXl="xl:pt-96">
    <Image
      src={logoImage}
      alt="Logo de l'Académie Stéphanoise"
      width={100}
      height={100}
    />
  </Footer>
</Layout>
