---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logoImage from "../assets/logo.png";
import Calendar from "../components/Calendar.jsx";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import CallToActionSection from "../components/CallToActionSection.jsx";
const title =
  "Planning des Cours | Académie Stéphanoise - MMA, Boxe, Krav Maga à Saint-Étienne";
const description =
  "Découvrez le planning des cours de l'Académie Stéphanoise à Saint-Étienne, un lieu de vie où le sport rassemble et la mixité s'incarne. Consultez les horaires flexibles pour le MMA, Boxe, Krav Maga, Luta Livre, Cross Training et Tolpar. Rejoignez-nous pour une expérience enrichissante en arts martiaux, adaptée à tous les niveaux.";
const jsonld = {
  "@context": "https://schema.org",
  "@type": "SportsActivityLocation",
  "name": "Académie Stéphanoise",
  "description": "Académie Stéphanoise à Saint-Étienne, plus qu'une salle de sport, un lieu de vie où le sport rassemble. Découvrez notre planning pour le MMA, Boxe, Krav Maga, Luta Livre, Cross Training et Tolpar, avec des horaires flexibles pour tous niveaux.",
  "url": "https://www.academiestephanoise.fr/planning",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "27 B, rue de Terrenoire",
    "addressLocality": "Saint-Étienne",
    "postalCode": "42100",
    "addressCountry": "FR"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "45.431092",
    "longitude": "4.410020"
  },
  "telephone": "07 68 70 25 56",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Monday",
      "opens": "18:00",
      "closes": "20:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Tuesday",
      "opens": "18:30",
      "closes": "19:30"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Wednesday",
      "opens": "14:30",
      "closes": "19:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Thursday",
      "opens": "17:00",
      "closes": "19:30"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Friday",
      "opens": "17:00",
      "closes": "19:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "Closed",
      "closes": "Closed"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Sunday",
      "opens": "Closed",
      "closes": "Closed"
    }
  ]
};

---

<Layout title={title} description={description} jsonld={jsonld}>
  <Navbar client:load>
    <Image
      src={logoImage}
      alt="Logo de l'Académie Stéphanoise"
      width={100}
      height={100}
    />
  </Navbar>
  <div class="bg-neutral-50 pt-4">
    <div class="max-w-[150rem] mx-auto lg:pt-16 lg:px-8">
      <Calendar client:only="react" />
    </div>
    <div class="translate-y-1/2 transform">
      <CallToActionSection client:visible />
    </div>
  </div>
  <Footer client:visible paddingTop="pt-72" paddingTopXl="xl:pt-96">
    <Image
      src={logoImage}
      alt="Logo de l'Académie Stéphanoise"
      width={100}
      height={100}
    />
  </Footer>
</Layout>
